@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  @apply bg-white text-black;
}
.dark {
  @apply bg-black text-white;
}
